body {
    background-color: rgba(200, 146, 134, 0.3);
    border: solid 10px palevioletred;
    padding-top: 30px;
    padding-bottom: auto;
    margin: 0 auto;
    width: 1000px;

}


.box {
    background-color: rgba(254, 121, 130, 0.3);
    width: 250px;
    height: 300px;
    margin: 30px;
    float: left;
    border: solid 8px palevioletred;
    box-sizing: border-box;

}
    
.box a {
    display: inline-block;
    padding: 5px 10px;
    border: solid 2px rgb(249, 162, 113);
    text-decoration: none;
    color: lightslategrey;
}


.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(254, 121, 130, 0.3);

}


.nav {
    color: black;
    overflow: hidden;
    text-decoration: none;
    border: salmon;

}

.nav a {
    float: left;
    color: black;
    padding: 20px 36px;
    text-decoration: none;

}

header nav ul li a:hover {
    text-decoration: underline;
    
}
.main {
    text-decoration: none;

}

.nav ul li {
    list-style: none;
    display: inline;

}

main {
    margin: 20px;
    border: 20px;
    text-align: center;
}

main article p {
    text-align: left;

}

main article ul {
    text-align: left;
}

main article img {
    float: right;
    height: 270px;
    width: 470px;
    padding: 13px;

}

figure {
    box-sizing: border-box;
    width: 500px;
    margin: 10px;
    height: 300px;
    margin-right: 0;
    border: 3px solid grey;
    float: right;
}

figcaption {
    margin: 15px;
    font-style: italic;
}

footer {
    margin: 20px;
}

.div1 {
    width: 100px;
    height:60px;
    border: 3px solid green;
    margin: 15px;
    border-style: dotted;

}
.div2 {
    background-color: pink;
    width: 150px;
    border: 25px solid rgb(45, 0, 128);
    padding: 25px;
    margin: 25px;
    float:right;
}

.div3 {
    width: 100px;
    margin:50px;
    border: 20px dashed purple;
    background-color: brown;
    padding:25px 50px 25px 55px;

}